body{
	font-family: verdana;
    text-align: center;
    color: dimgrey;
    background-color: #CCFFFF;
    /*background-image: url(../admin/images/paperborder.png);*/
}
#header {
	position: relative;
	background-image: url(../admin/images/header.png);
	background-repeat: no-repeat;
    background-position: top;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	/*border: 2px solid #fff; */
	padding-top: 90px;
	text-align: left;
}

#content_head {
	margin-left: auto;
	padding: 20px 10px 0 0;
}

#content {
	margin-left: 25px;
	padding: 20px 10px 0 0;
}

#content p {
	font-size: 75%;
	line-height: 1.8em;
	padding-left: 2em;
}

a:link,a:visited {
  color:#0f2afa;
}
a:hover {
	color: #FF6600;
	text-decoration:none;
}
h2 {
	font: normal 120% Georgia;
	color: #000000;
	background-color: transparent;
	border-bottom: 1px dotted #000000;
}
table {
	font-family: verdana;
	font-size: 8pt;
	border-width: 0px;
	border-color: #999999;
	*border-collapse: collapse;
	margin: 10px 0px;
    border-spacing: 0;
}
th{
	color: #FFFFFF;
	font-size: 7pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
	background-color: #000000;
}
td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #969BA5;
	border-collapse: collapse;
}
input[type=button],input[type=submit]
{
    background-color: #f2f4f1;
    color:#ea7c1f;
    border:1px solid #1eea15;
    -moz-border-radius:10px;
    /*border-radius:5px;*/
    border-radius:15px 5px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(30, 234, 21, 0.50);
    /*box-shadow: 0 5px 5px #508530, 0 9px 0 #1eea15, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);*/
}

input[type=button]:hover,input[type=submit]:hover
{
    background-color: #ea7c1f;
    color:#fff;
    cursor: pointer;
}
input[type=button]:disabled,input[type=submit]:disabled
{
    background-color: #808080;
    color:#404040;
    cursor: not-allowed;
}
input,textarea,select{
	font-family: Tahoma;
	font-size: 8pt;
	padding: 5px 3px;
}
.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #75ff99;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 0.5em;
    text-align: center;
}
.bordered td {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
}

.bordered th {

   -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #000000;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
#paging{
	font-family: Tahoma; 
	font-size: 8pt; 
}
#footer{
	padding: 20px 0 0px 0px;
	font-size: 70%;
	color: #ea7c1f;
    background-color: #CCFFFF;
text-align: center; 
}

.ticker {
    margin:0;
    padding:5px;
    list-style-type:none;
    background:#F7F7D0;
    border:1px solid #ccc;
}
    .ticker li {
        line-height:1.5;
    }

.ticker-active {
    height:1.5em;
    overflow:hidden;
}
    .ticker-active li {
        display:none;
        overflow:hidden;
        white-space:nowrap;
    }
    
.one-col {
       -moz-column-count: 1;
       -moz-column-gap: 20px;
       -webkit-column-count: 1;
       -webkit-column-gap: 20px;
}
.two-col {
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
}
.left-div tr {
       height: 24px;
}
.data-table tr {
       height: 24px;
}