body{
    font-family: Tahoma;
    text-align: center;          
    background-color:transparent; 
}
#header {
    position: relative;
    background-color:transparent;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    /*border: 2px solid #fff; */
    padding-top: 0px;
    text-align: left;
}

#content_head {
    margin-left: auto;
    padding: 20px 10px 0 0;
    background-color: transparent;
}

#content {
    margin-left: 25px;
    padding: 20px 10px 0 0;
}

#content p {
    font-size: 75%;
    line-height: 1.8em;
    padding-left: 2em;
}

a:link,a:visited {
  color:#0f2afa;
}
a:hover {
    color: #FF6600;
    text-decoration:none;
}
h2 {
    font: normal 120% Georgia;
    color: #000000;
    background-color: transparent;
    border-bottom: 1px dotted #000000;
}
table {
    font-family: Tahoma; 
    font-size: 8pt;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    border-collapse: collapse;
    margin: 10px 0px;
}
th{
    
    font-size: 7pt;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: #969BA5;
    border-collapse: collapse;
    background-color: transparent;
}
td{
    padding: 0.5em;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-color: #969BA5;
    border-collapse: collapse;
}
input,textarea,select{
    font-family: Tahoma; 
    font-size: 8pt;
}

#paging{
    font-family: Tahoma; 
    font-size: 8pt; 
}
#footer{
    padding: 530px 0 10px 0px;
    font-size: 70%;
    color: white;
    background-color: transparent;
text-align: center; 
}

.ticker {
    margin:0;
    padding:5px;
    list-style-type:none;
    background:#F7F7D0;
    border:1px solid #ccc;
}
    .ticker li {
        line-height:1.5;
    }

.ticker-active {
    height:1.5em;
    overflow:hidden;
}
    .ticker-active li {
        display:none;
        overflow:hidden;
        white-space:nowrap;
    }



