body{
	font-family: verdana;
    text-align: center;         
    background-image: url(../images/Wood.jpg);   
}

h2 {
	font: normal 200% Algerian;
	background-color: transparent;         
	border-width:5px;    
    border-bottom-style:double;
    text-align: left;
}
table {
	font-family: verdana;     
	font-size: 14pt;
	border-width: 0px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
	margin: 10px 0px;
}
th{
	font-size: 7pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border-width: 0px;
	border-style: none;
	border-color: #000000;
	border-collapse: collapse;   
	background-color: #ffffff;
}
td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 0px;
	border-style: solid;
	border-color: #f48221;
	border-collapse: collapse;
}
tr{                      
    border-width: none;   
}                                  
P.repeatimage {
background: transparent url(../images/rope.png) repeat-x;     
}




